@font-face {
  font-family: 'Comfortaa';
  font-weight: normal;
  src: url('fonts/Comfortaa_Regular');
}
@font-face {
  font-family: 'Comfortaa';
  font-weight: bold;
  src: url('fonts/Comfortaa_Bold');
}


/* =Basic Layout */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  color:  #000;
  padding: 10px 0 0 10px;
} /* comment */
div.test { background: #ebebeb; padding: 1px 10px 10px; margin: 0 0 1em; }
#content { width: 60%; position: relative; }

/* =Tests */
#font-test-1 p { font: 1em 'Comfortaa', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; }